In [1]:
# importing pyspark
import pyspark

In [2]:
# importing session from sql from pyspark to start the sessio
from pyspark.sql import SparkSession

In [3]:
# creating the seasion
spark = SparkSession.builder.appName("Apache PySpark Final Project-Zomato").getOrCreate()

22/11/02 22:31:00 WARN Utils: Your hostname, HP-G62 resolves to a loopback address: 127.0.1.1; using 192.168.18.113 instead (on interface enp3s0)
22/11/02 22:31:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/02 22:31:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/02 22:31:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
# creating zomato dataframe fro the zomato.csv file
zomato_df = spark.read.csv('zomato.csv',inferSchema=True,header=True)

In [5]:
# printing the schema of zomato dataframe
zomato_df.printSchema()

root
 |-- url: string (nullable = true)
 |-- address: string (nullable = true)
 |-- name: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- book_table: string (nullable = true)
 |-- rate: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- location: string (nullable = true)
 |-- rest_type: string (nullable = true)
 |-- dish_liked: string (nullable = true)
 |-- cuisines: string (nullable = true)
 |-- approx_cost(for two people): string (nullable = true)
 |-- reviews_list: string (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- listed_in(type): string (nullable = true)
 |-- listed_in(city): string (nullable = true)

In [6]:
# showing the data from zomato dataframe
zomato_df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+
|                 url|             address|                name|        online_order|          book_table| rate|               votes|               phone|            location|           rest_type|          dish_liked|            cuisines|approx_cost(for two people)|        reviews_list|           menu_item|     listed_in(type)|     listed_in(city)|
+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+
|https://www.zomat...|942, 21st Main Ro...|               Jalsa|                 Yes|                 Yes|4.1/5|                 775|        080 42297555|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9743772233"|        Banashankari|       Casual Dining|Pasta, Lunch Buff...|North Indian, Mug...|  800|"[('Rated 4.0', '...|        ('Rated 4.0'| 'RATED\n  You ca...|        ('Rated 5.0'| 'RATED\n  Overde...|        ('Rated 4.0'|        'RATED\n  The pl...|        ('Rated 4.0'| 'RATED\n  The pl...|        ('Rated 4.0'| 'RATED\n  The pl...|
|https://www.zomat...|2nd Floor, 80 Fee...|      Spice Elephant|                 Yes|                  No|4.1/5|                 787|        080 41714161|        Banashankari|       Casual Dining|Momos, Lunch Buff...|Chinese, North In...|                        800|"[('Rated 4.0', '...|rice was well coo...|        ('Rated 5.0'| 'RATED\n  This p...|
|https://www.zomat...|1112, Next to KIM...|     San Churro Cafe|                 Yes|                  No|3.8/5|                 918|      +91 9663487993|        Banashankari| Cafe, Casual Dining|Churros, Cannello...|Cafe, Mexican, It...|                        800|"[('Rated 3.0', "...|        ('Rated 3.0'| ""RATED\n \nWent...| pasta churros an...|
|https://www.zomat...|1st Floor, Annaku...|Addhuri Udupi Bho...|                  No|                  No|3.7/5|                  88|      +91 9620009302|        Banashankari|         Quick Bites|         Masala Dosa|South Indian, Nor...|                        300|"[('Rated 4.0', "...|        ('Rated 2.0'| 'RATED\n  Reache...|        ('Rated 4.0'|
|https://www.zomat...|10, 3rd Floor, La...|       Grand Village|                  No|                  No|3.8/5|                 166|      +91 8026612447|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9901210005"|        Basavanagudi|       Casual Dining| Panipuri, Gol Gappe|North Indian, Raj...|  600|[('Rated 4.0', 'R...|                  []|              Buffet|        Banashankari|                null|                null|                       null|                null|                null|                null|                null|
|https://www.zomat...|37, 5-1, 4th Floo...|     Timepass Dinner|                 Yes|                  No|3.8/5|                 286|      +91 9980040002|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9980063005"|        Basavanagudi|       Casual Dining|Onion Rings, Past...|        North Indian|  600|[('Rated 3.0', 'R...|                  []|              Buffet|        Banashankari|                null|                null|                       null|                null|                null|                null|                null|
|https://www.zomat...|19/1, New Timbery...|Rosewood Internat...|                  No|                  No|3.6/5|                   8|      +91 9731716688|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|       080 26740366"|         Mysore Road|       Casual Dining|                null|North Indian, Sou...|  800|[('Rated 5.0', 'R...|                  []|              Buffet|        Banashankari|                null|                null|                       null|                null|                null|                null|                null|
|https://www.zomat...|2469, 3rd Floor, ...|              Onesta|                 Yes|                 Yes|4.6/5|                2556|        080 48653961|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|       080 48655715"|        Banashankari| Casual Dining, Cafe|Farmhouse Pizza, ...|Pizza, Cafe, Italian|  600|"[('Rated 5.0', '...| and my 5th diffe...|            JP Nagar|        Basavanagudi| Koramangala baka...| it's the unlimit...|                        but| but there is a c...| unlimited desser...| one dessert and ...| I have been thro...|
|https://www.zomat...|1, 30th Main Road...|      Penthouse Cafe|                 Yes|                  No|4.0/5|                 324|      +91 8884135549|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9449449316"|        Banashankari|                Cafe|Pizza, Mocktails,...|Cafe, Italian, Co...|  700|"[('Rated 3.0', "...| it's a very smal...|        ('Rated 4.0'|    ""RATED\n  Small|                cosy| covered rooftop ...|                      pasta| pizza and sizzle...|        ('Rated 4.0'| ""RATED\n  Small...|        ('Rated 4.0'|
|https://www.zomat...|2470, 21 Main Roa...|           Smacznego|                 Yes|                  No|4.2/5|                 504|      +91 9945230807|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 9743804471"|        Banashankari|                Cafe|Waffles, Pasta, C...|Cafe, Mexican, It...|  550|"[('Rated 4.0', "...|        ('Rated 4.0'| 'RATED\n  A tuck...| slightly off the...| they served in f...|        ('Rated 5.0'|        'RATED\n  Been h...| although takes a...| do taste quite y...|        ('Rated 5.0'| 'RATED\n  Being ...|
|https://www.zomat...|12,29 Near PES Un...|CafÃÂÃÂÃÂÃ...|                 Yes|                  No|4.1/5|                 402|        080 26724489|                null|                null|                null|                null|                       null|                null|                null|                null|                null|
|     +91 7406048982"|        Banashankari|                Cafe|Waffles, Pasta, C...|                Cafe|  500|"[('Rated 4.0', '...| I wish they gave...| pasta arrabiata ...| waffles and nugg...| a good hangout p...| I wouldn't sugge...|               ('Rated 3.0'| 'RATED\n  A good...| and this place c...|                  []|               Cafes|
|https://www.zomat...|941, 3rd FLOOR, 2...|        Cafe Shuffle|                 Yes|                 Yes|4.2/5|                 150|      +91 9742166777|        Banashankari|                Cafe|Mocktails, Peri F...|Cafe, Italian, Co...|                        600|"[('Rated 1.0', "...| you get it liter...|        ('Rated 4.0'| ""RATED\n  While...|
+--------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [7]:
# printing the columns of zomato dataframe
zomato_df.columns

['url',
 'address',
 'name',
 'online_order',
 'book_table',
 'rate',
 'votes',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)',
 'reviews_list',
 'menu_item',
 'listed_in(type)',
 'listed_in(city)']

In [8]:
# Change the column name “rate”  into rating
# Change the column name “approx_cost (for two people)”  into approx_cost_two_people
# Change the column name “listed_in(type)” into category_listed
# Change the column name “listed_in(city)” into city
# Change the column name “rest_type” into type
zomato_df=zomato_df.withColumnRenamed("rate","rating")\
    .withColumnRenamed("approx_cost(for two people)","approx_cost_two_people")\
    .withColumnRenamed("listed_in(type)","category_listed")\
    .withColumnRenamed("listed_in(city)","city")\
    .withColumnRenamed("rest_type","type")

zomato_df.printSchema()

root
 |-- url: string (nullable = true)
 |-- address: string (nullable = true)
 |-- name: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- book_table: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- location: string (nullable = true)
 |-- type: string (nullable = true)
 |-- dish_liked: string (nullable = true)
 |-- cuisines: string (nullable = true)
 |-- approx_cost_two_people: string (nullable = true)
 |-- reviews_list: string (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- category_listed: string (nullable = true)
 |-- city: string (nullable = true)

In [9]:
# dropping url. address, menu list , review list
zomato_df=zomato_df.drop("url","address","menu_item","reviews_list","city","category_listed")
zomato_df.columns

['name',
 'online_order',
 'book_table',
 'rating',
 'votes',
 'phone',
 'location',
 'type',
 'dish_liked',
 'cuisines',
 'approx_cost_two_people']

In [10]:
# removing  dupicate rows from the zomato dataframe
zomato_df.dropDuplicates()
zomato_df.columns

['name',
 'online_order',
 'book_table',
 'rating',
 'votes',
 'phone',
 'location',
 'type',
 'dish_liked',
 'cuisines',
 'approx_cost_two_people']

In [11]:
# removing  null rows containg null values from the zomato dataframe
zomato_df=zomato_df.na.drop("any")
zomato_df.show()

+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------------+
|                name|        online_order|          book_table|rating|               votes|               phone|            location|                type|          dish_liked|            cuisines|approx_cost_two_people|
+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------------+
|       Casual Dining|Pasta, Lunch Buff...|North Indian, Mug...|   800|"[('Rated 4.0', '...|        ('Rated 4.0'| 'RATED\n  You ca...|        ('Rated 5.0'| 'RATED\n  Overde...|        ('Rated 4.0'|   'RATED\n  The pl...|
|      Spice Elephant|                 Yes|                  No| 4.1/5|                 787|        080 41714161|        Banashankari|       Casual Dining|Momos, Lunch Buff...|Chinese, North In...|                   800|
|     San Churro Cafe|                 Yes|                  No| 3.8/5|                 918|      +91 9663487993|        Banashankari| Cafe, Casual Dining|Churros, Cannello...|Cafe, Mexican, It...|                   800|
|Addhuri Udupi Bho...|                  No|                  No| 3.7/5|                  88|      +91 9620009302|        Banashankari|         Quick Bites|         Masala Dosa|South Indian, Nor...|                   300|
| Casual Dining, Cafe|Farmhouse Pizza, ...|Pizza, Cafe, Italian|   600|"[('Rated 5.0', '...| and my 5th diffe...|            JP Nagar|        Basavanagudi| Koramangala baka...| it's the unlimit...|                   but|
|                Cafe|Pizza, Mocktails,...|Cafe, Italian, Co...|   700|"[('Rated 3.0', "...| it's a very smal...|        ('Rated 4.0'|    ""RATED\n  Small|                cosy| covered rooftop ...|                 pasta|
|                Cafe|Waffles, Pasta, C...|Cafe, Mexican, It...|   550|"[('Rated 4.0', "...|        ('Rated 4.0'| 'RATED\n  A tuck...| slightly off the...| they served in f...|        ('Rated 5.0'|   'RATED\n  Been h...|
|                Cafe|Waffles, Pasta, C...|                Cafe|   500|"[('Rated 4.0', '...| I wish they gave...| pasta arrabiata ...| waffles and nugg...| a good hangout p...| I wouldn't sugge...|          ('Rated 3.0'|
|        Cafe Shuffle|                 Yes|                 Yes| 4.2/5|                 150|      +91 9742166777|        Banashankari|                Cafe|Mocktails, Peri F...|Cafe, Italian, Co...|                   600|
|    The Coffee Shack|                 Yes|                 Yes| 4.2/5|                 164|      +91 9731644212|        Banashankari|                Cafe|Coffee, Spaghetti...|Cafe, Chinese, Co...|                   500|
|          Caf-Eleven|                  No|                  No| 4.0/5|                 424|        080 49577715|        Banashankari|                Cafe|Sandwich, Omelett...|   Cafe, Continental|                   450|
|     San Churro Cafe|                 Yes|                  No| 3.8/5|                 918|      +91 9663487993|        Banashankari| Cafe, Casual Dining|Churros, Cannello...|Cafe, Mexican, It...|                   800|
|                Cafe|Garlic Bread, Bur...|                Cafe|   650|"[('Rated 2.0', '...| pleasant cafe wh...| with white picke...| lovely indoor am...|        french fries| brownie with ice...|   a dessert came w...|
|                Cafe|Pasta, Gelato, Ga...|Chinese, Cafe, It...|   700|"[('Rated 3.0', "...|I tried Chinese f...| too good for the...|not great. Defini...|        ('Rated 3.0'| 'RATED\n  Had be...|                    []|
|            T3H Cafe|                  No|                  No| 3.9/5|                  93|      +91 8884726600|        Banashankari|                Cafe|Cheese Maggi, Per...|Cafe, Italian, Am...|                   300|
|                Cafe|Burgers, Caramel ...|Cafe, French, Nor...|   400|"[('Rated 2.0', "...| and they serve a...| neither are the ...| as well as Iced ...| which is priced ...| but not terrible...|          ('Rated 1.0'|
|        Woodee Pizza|                 Yes|                  No| 3.7/5|                 180|      +91 7406822844|        Banashankari|                Cafe| Pizza, Garlic Bread|Cafe, Pizza, Fast...|                   500|
|   Quick Bites, Cafe|     Pasta, Iced Tea|Italian, Fast Foo...|   600|"[('Rated 4.0', "...| went here with f...| they have it. Th...| you won't regret...|                  []|               Cafes|          Banashankari|
|           Redberrys|                 Yes|                  No| 4.0/5|                 219|      +91 9148421256|        Basavanagudi|                Cafe|Pizza, Fries, Anj...|       Cafe, Italian|                   600|
|          Foodiction|                 Yes|                  No| 2.8/5|                 506|      +91 9916107070|        Banashankari|         Quick Bites|Burgers, Lassi, C...|North Indian, Fas...|                   500|
+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------------------+
only showing top 20 rows

In [12]:
zomato_df.count()

20135

In [13]:
zomato_df.toPandas().to_csv('data/cleaned_zomato.csv',index= False)

In [16]:
import pandas as pd

In [17]:
cleaned_zomato_df=pd.read_csv("data/cleaned_zomato.csv")
cleaned_zomato_df.count()

name                      20135
online_order              20135
book_table                20135
rating                    20135
votes                     20135
phone                     20135
location                  20135
type                      20135
dish_liked                20135
cuisines                  20135
approx_cost_two_people    20135
dtype: int64

In [21]:
order=cleaned_zomato_df[(cleaned_zomato_df['online_order'] != "Yes") & (cleaned_zomato_df['online_order'] != "No")].index
cleaned_zomato_df.drop(order , inplace=True)
cleaned_zomato_df.count()

name                      11348
online_order              11348
book_table                11348
rating                    11348
votes                     11348
phone                     11348
location                  11348
type                      11348
dish_liked                11348
cuisines                  11348
approx_cost_two_people    11348
dtype: int64

In [22]:
cleaned_zomato_df.head()

,name,online_order,book_table,rating,votes,phone,location,type,dish_liked,cuisines,approx_cost_two_people
1,Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800
2,San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300
8,Cafe Shuffle,Yes,Yes,4.2/5,150,+91 9742166777,Banashankari,Cafe,"Mocktails, Peri Fries, Lasagne, Pizza, Chicken...","Cafe, Italian, Continental",600
9,The Coffee Shack,Yes,Yes,4.2/5,164,+91 9731644212,Banashankari,Cafe,"Coffee, Spaghetti, Pancakes, Nachos, Pasta, Sa...","Cafe, Chinese, Continental, Italian",500

In [23]:
cleaned_zomato_df.to_csv("data/cleaned_zomato_df.csv",index=False)
cleaned_zomato_df.to_excel("data/cleaned_zomato_df.xlsx",index=False)