In [2]:
# ! pip install opendatasets
import opendatasets as od

In [9]:
# od.download("https://www.kaggle.com/datasets/rishikeshkonapure/zomato?select=zomato.csv")

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Apache PySpark Final Project-Zomato").getOrCreate()

22/11/03 16:12:47 WARN Utils: Your hostname, pallavi-xps resolves to a loopback address: 127.0.1.1; using 192.168.1.81 instead (on interface wlp2s0)
22/11/03 16:12:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/03 16:12:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
zomato_df = spark.read.csv('data/zomato.csv',inferSchema=True,header=True)

In [6]:
zomato_df.printSchema()

root
 |-- url: string (nullable = true)
 |-- address: string (nullable = true)
 |-- name: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- book_table: string (nullable = true)
 |-- rate: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- location: string (nullable = true)
 |-- rest_type: string (nullable = true)
 |-- dish_liked: string (nullable = true)
 |-- cuisines: string (nullable = true)
 |-- approx_cost(for two people): string (nullable = true)
 |-- reviews_list: string (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- listed_in(type): string (nullable = true)
 |-- listed_in(city): string (nullable = true)

In [10]:
zomato_df.columns

['url',
 'address',
 'name',
 'online_order',
 'book_table',
 'rate',
 'votes',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)',
 'reviews_list',
 'menu_item',
 'listed_in(type)',
 'listed_in(city)']

In [11]:
zomato_df.count()

71730

In [12]:
zomato_df = zomato_df.dropDuplicates()

In [13]:
zomato_df.count()

65523

In [14]:
zomato_df=zomato_df.withColumnRenamed("rate","rating")\
                    .withColumnRenamed("approx_cost(for two people)","approx_cost_two_people")\
                    .withColumnRenamed("listed_in(type)","category_listed")\
                    .withColumnRenamed("listed_in(city)","city")\
                    .withColumnRenamed("rest_type","type")

In [15]:
zomato_df.columns

['url',
 'address',
 'name',
 'online_order',
 'book_table',
 'rating',
 'votes',
 'phone',
 'location',
 'type',
 'dish_liked',
 'cuisines',
 'approx_cost_two_people',
 'reviews_list',
 'menu_item',
 'category_listed',
 'city']

In [16]:
zomato_df=zomato_df.na.drop("any")

In [17]:
zomato_df.count()

14664

In [18]:
zomato_df=zomato_df.drop("url")

In [19]:
zomato_df.columns

['address',
 'name',
 'online_order',
 'book_table',
 'rating',
 'votes',
 'phone',
 'location',
 'type',
 'dish_liked',
 'cuisines',
 'approx_cost_two_people',
 'reviews_list',
 'menu_item',
 'category_listed',
 'city']

In [20]:
zomato_df.count()

14664

In [21]:
zomato_df.toPandas().to_csv('data/cleaned_zomato.csv',index= False)